.oculto {
  display: none;
}
.accordion-item {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #f00000;
  margin: 5px 0;
  background-color: #d8cfcf;
}
p {
  padding: 10px;
  border-top: 1px solid #ee0d0d;
  background-color: #f1f1f1;
}
